<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>

<body class="bodyClass">
    <header>
        <%- include('../layout/header') %>
    </header>
    <div class="loops">
       
        <h2> There are <%= books.length %> Books</h2>
        <% books.forEach(data=>{ %>
        <div class="loopContent">
        <h3> <%= data.title %></h3>
        <h4><%= data.author %></h4>
        <img src=" <%= data.image_url %>" alt="">
        <a href="/books/<%= data.id%>">view details</a>
    </div>
        <% }) %>

        </div>
   
    <script src="js/app.js"></script>
</body>

</html>